%title {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-book;
}

@mixin title-h1($top: $h1-margin-top, $bottom: $h1-margin-bottom, $lh: $h1-line-height) {
    @extend %title;
    @include base(margin-top, $top);
    @include base(margin-bottom, $bottom);
    @include base(line-height, $lh);
    font-size: $h1-font-size;
}

@mixin title-h2($top: $h2-margin-top, $bottom: $h2-margin-bottom, $lh: $h2-line-height) {
    @extend %title;
    @include base(margin-top, $top);
    @include base(margin-bottom, $bottom);
    @include base(line-height, $lh);
    font-size: $h2-font-size;
}

@mixin title-h3($top: $h3-margin-top, $bottom: $h3-margin-bottom, $lh: $h3-line-height) {
    @extend %title;
    @include base(margin-top, $top);
    @include base(margin-bottom, $bottom);
    @include base(line-height, $lh);
    font-size: $h3-font-size;
}

@mixin title-h4($top: $h4-margin-top, $bottom: $h4-margin-bottom, $lh: $h4-line-height) {
    @extend %title;
    @include base(margin-top, $top);
    @include base(margin-bottom, $bottom);
    @include base(line-height, $lh);
    font-size: $h4-font-size;
}

@mixin title-h5($top: $h5-margin-top, $bottom: $h5-margin-bottom, $lh: $h5-line-height) {
    @extend %title;
    @include base(margin-top, $top);
    @include base(margin-bottom, $bottom);
    @include base(line-height, $lh);
    font-size: $h5-font-size;
}

.title {
    &-5 {
        @include title-h5;
        font-weight: $font-weight-medium;
    }

    &-4 {
        @include title-h4;
    }

    &-3 {
        @include title-h3;
        font-weight: $font-weight-medium;
    }

    &-2 {
        @include title-h2;
    }

    &-1 {
        @include title-h1;
        font-weight: $font-weight-book;
    }
}
