$white-color: hsla(228, 33%, 98%, 1);
$black-color: rgb(32, 47, 51);

//-----Base-----//
$base-font-size: 1rem;
$base-line-height: 1rem;
$font-family-serif: 'freight_text', Georgia, serif;
$font-family-sans-serif: 'proxima_nova_rgbold', Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', 'Lucida Grande', sans-serif;

$base-background-color: $white-color;
$copy-color: $black-color;
$modular-scale-ratio: $perfect-fourth;

$font-weight-book: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-xbold: 900;

//-----Title-----//
$h1-font-size: modular-scale(5);
$h1-line-height: 3;
$h1-margin-top: 1;
$h1-margin-bottom: 1;

$h2-font-size: modular-scale(4);
$h2-line-height: 2;
$h2-margin-top: 1;
$h2-margin-bottom: 1;

$h3-font-size: modular-scale(3);
$h3-line-height: 2;
$h3-margin-top: 1;
$h3-margin-bottom: 1;

$h4-font-size: modular-scale(2);
$h4-line-height: 1;
$h4-margin-top: 1;
$h4-margin-bottom: 1;

$h5-font-size: modular-scale(1);
$h5-line-height: 1;
$h5-margin-top: 1;
$h5-margin-bottom: 1;
