// Shorthand   Description
// -----------------------
// m           Margin
// p           Padding
// t           Top
// r           Right
// b           Bottom
// l           Left
// x           X-axis (left and right)
// y           Y-axis (top and bottom)
// n           Negative (margin only)
// 0           0 reset
// 1           .5rem
// 2           1rem
// 3           1.5rem
// 4           2rem
// 5           4rem
// ------------------------------------

.m0,
%m0 {
    margin: 0;
}

.mt0,
%mt0 {
    margin-top: 0;
}

.mr0,
%mr0 {
    margin-right: 0;
}

.mb0,
%mb0 {
    margin-bottom: 0;
}

.ml0,
%ml0 {
    margin-left: 0;
}

.m1 {
    margin: $base-font-size / 2;
}

.mt1 {
    @include base(margin-top, 1);
}

.mr1 {
    margin-right: $base-font-size / 2;
}

.mb1 {
    @include base(margin-bottom, 1);
}

.ml1 {
    margin-left: $base-font-size / 2;
}

.m2 {
    margin: $base-font-size;
}

.mt2 {
    @include base(margin-top, 2);
}

.mr2 {
    margin-right: $base-font-size;
}

.mb2 {
    @include base(margin-bottom, 2);
}

.ml2 {
    margin-left: $base-font-size;
}

.m3 {
    margin: $base-font-size * 1.5;
}

.mt3 {
    @include base(margin-top, 3);
}

.mr3 {
    margin-right: $base-font-size * 1.5;
}

.mb3 {
    @include base(margin-bottom, 3);
}

.ml3 {
    margin-left: $base-font-size * 1.5;
}

.m4 {
    margin: $base-font-size * 2;
}

.mt4 {
    margin-top: $base-font-size * 2;
}

.mr4 {
    margin-right: $base-font-size * 2;
}

.mb4 {
    margin-bottom: $base-font-size * 2;
}

.ml4 {
    margin-left: $base-font-size * 2;
}

.m5 {
    margin: $base-font-size * 4;
}

.mt5 {
    margin-top: $base-font-size * 4;
}

.mr5 {
    margin-right: $base-font-size * 4;
}

.mb5 {
    margin-bottom: $base-font-size * 4;
}

.ml5 {
    margin-left: $base-font-size * 4;
}

.mxn1 {
    margin-right: -$base-font-size / 2;
    margin-left: -$base-font-size / 2;
}

.mxn2 {
    margin-right: -$base-font-size;
    margin-left: -$base-font-size;
}

.mxn3 {
    margin-right: -$base-font-size * 1.5;
    margin-left: -$base-font-size * 1.5;
}

.mxn4 {
    margin-right: -$base-font-size * 2;
    margin-left: -$base-font-size * 2;
}

.mxn5 {
    margin-right: -$base-font-size * 4;
    margin-left: -$base-font-size * 4;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.p0,
%p0 {
    padding: 0;
}

.p1 {
    padding: $base-font-size / 2;
}

.py1 {
    @include base(padding-top, 1);
    @include base(padding-bottom, 1);
}

.px1 {
    padding-right: $base-font-size / 2;
    padding-left: $base-font-size / 2;
}

.p2 {
    padding: $base-font-size;
}

.py2 {
    padding-top: $base-font-size;
    padding-bottom: $base-font-size;
}

.px2 {
    padding-right: $base-font-size;
    padding-left: $base-font-size;
}

.p3 {
    padding: $base-font-size * 1.5;
}

.py3 {
    padding-top: $base-font-size * 1.5;
    padding-bottom: $base-font-size * 1.5;
}

.px3 {
    padding-right: $base-font-size * 1.5;
    padding-left: $base-font-size * 1.5;
}

.p4 {
    padding: $base-font-size * 2;
}

.py4 {
    padding-top: $base-font-size * 2;
    padding-bottom: $base-font-size * 2;
}

.px4 {
    padding-right: $base-font-size * 2;
    padding-left: $base-font-size * 2;
}

.p5 {
    padding: $base-font-size * 4;
}

.py5 {
    padding-top: $base-font-size * 4;
    padding-bottom: $base-font-size * 4;
}

.px5 {
    padding-right: $base-font-size * 4;
    padding-left: $base-font-size * 4;
}
