@font-face {
    font-family: 'freight_text';
    src: url('../fonts/freighttextpro-book-webfont.eot');
    src: url('../fonts/freighttextpro-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freighttextpro-book-webfont.woff2') format('woff2'),
         url('../fonts/freighttextpro-book-webfont.woff') format('woff'),
         url('../fonts/freighttextpro-book-webfont.ttf') format('truetype'),
         url('../fonts/freighttextpro-book-webfont.svg#freight_text_probook') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'freight_text';
    src: url('../fonts/freighttextpro-bookitalic-webfont.eot');
    src: url('../fonts/freighttextpro-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freighttextpro-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/freighttextpro-bookitalic-webfont.woff') format('woff'),
         url('../fonts/freighttextpro-bookitalic-webfont.ttf') format('truetype'),
         url('../fonts/freighttextpro-bookitalic-webfont.svg#freight_text_probook_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'freight_text';
    src: url('../fonts/freighttextpro-demibold-webfont.eot');
    src: url('../fonts/freighttextpro-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/freighttextpro-demibold-webfont.woff2') format('woff2'),
         url('../fonts/freighttextpro-demibold-webfont.woff') format('woff'),
         url('../fonts/freighttextpro-demibold-webfont.ttf') format('truetype'),
         url('../fonts/freighttextpro-demibold-webfont.svg#freight_text_probook_italic') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold_0-webfont.eot');
    src: url('../fonts/proximanova-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold_0-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold_0-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold_0-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
